<section class="" style="background-color: hsl(0, 0%, 96%)">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form (ngSubmit)="onSubmitEmailPassword()" [formGroup]="loginForm">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-car-side"
                                            style="color: #ff6219; font-size:50px;margin-right: 10px;"></i>
                                        <span class="h1 fw-bold mb-0">ร้านอู่ซ่อมรถ</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">ลงชื่อเข้าใช้
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <i class="material-icons"
                                            style="color: #ff6219; font-size:20px;margin-right: 1px;">email</i>
                                        <label for="Username" class="text-dark">Email address</label><br>
                                        <input type="email" formControlName="inputEmail" [(ngModel)]="email" required
                                            placeholder="User@Email.com"
                                            [ngClass]="loginForm.get('inputEmail')?.invalid && loginForm.get('inputEmail')?.dirty || loginForm.get('inputEmail')?.touched && loginForm.get('inputEmail')?.errors?.required ? 'form-control form-control-lg is-invalid ' : 'form-control form-control-lg'">
                                        <div class="form-text text-danger"
                                            *ngIf="loginForm.get('inputEmail')?.invalid &&(loginForm.get('inputEmail')?.dirty || loginForm.get('inputEmail')?.touched) && loginForm.get('inputEmail')?.errors?.required">
                                            กรุณาระบุอีเมล์ชื่อผู้ใช้
                                        </div>
                                        <div class="form-text text-danger"
                                            *ngIf="loginForm.get('inputEmail').invalid && loginForm.get('inputEmail').errors.email">
                                            ชื่อผู้ใช้ควรจะเป็นอีเมล์
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <i class="fas fa-key"
                                            style="color: #ff6219; font-size:20px;margin-right: 1px;"></i>
                                        <label for="Password" class="text-dark">Password</label><br>
                                        <input type="password" formControlName="inputPassword" [(ngModel)]="password"
                                            required placeholder="รหัสผ่าน"
                                            [ngClass]=" loginForm.get('inputPassword')?.invalid &&loginForm.get('inputPassword')?.dirty || loginForm.get('inputPassword')?.touched && loginForm.get('inputPassword')?.errors?.required  ? 'form-control form-control-lg is-invalid ' : 'form-control form-control-lg'">
                                        <div class="form-text text-danger"
                                            *ngIf="loginForm.get('inputPassword')?.invalid && (loginForm.get('inputPassword')?.dirty || loginForm.get('inputPassword')?.touched) && loginForm.get('inputPassword')?.errors?.required">
                                            กรุณาระบุพาสเวิร์ด
                                        </div>
                                        <div class="form-text text-danger"
                                            *ngIf="loginForm.get('inputPassword')?.invalid && (loginForm.get('inputPassword')?.dirty || loginForm.get('inputPassword')?.touched) && loginForm.get('inputPassword')?.errors?.minlength">
                                            6 ตัวขึ้นไป
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                            href="link" style="color: #393f81;">Register here</a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    
</section>