<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white ">
  <i class="fas fa-car-side" style="color: #000000; font-size:30px;margin-right: 10px;"></i>
  <h5 class="my-0 mr-md-auto font-weight-normal"><a routerLink="home" class="navbar-brand text-dark">ร้านอู่ซ่อมรถ</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">

    <a class="p-2 text-dark nav-link" routerLink="login">เข้าสู่ระบบ</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="link">ลงทะเบียน</a>
</div>


<router-outlet></router-outlet>