<body>
    <div class="sidebar">
        <a class="active" href="#home">แจ้งซ่อมรถ</a>
        <a href="#">ชำระเงิน</a>
        <a href="#">แจ้งชำระเงิน</a>
        <a href="#">วันรับรถ</a>
    </div>

    <div class="content">
        <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
            กรุณาลงชื่อเข้าใช้ <a href="login" class="alert-link">เข้าสู่ระบบ</a>.
        </div>
        <h1>หน้าแจ้งซ่อมรถ</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur dicta quas in, ut suscipit cumque unde
            perspiciatis dolore voluptatem corrupti iste omnis quo, vitae hic quis, exercitationem voluptate
            necessitatibus id dolor praesentium. Tempora aliquid consequuntur, necessitatibus sunt, asperiores nam sit
            voluptate impedit nisi ex adipisci atque hic fugit delectus omnis animi excepturi? Laboriosam ipsam delectus
            dolorum harum suscipit quidem exercitationem soluta, eum deleniti amet nulla ex aliquid nobis eligendi nihil
            laudantium quas praesentium aperiam voluptates repudiandae? Ut earum sint, in tempora laborum et, impedit
            exercitationem voluptates quam blanditiis nobis? Nulla quisquam molestiae laboriosam minima atque provident
            quibusdam eveniet iusto amet?</p>
        <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>