<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1  style="color:azure;font-size: 100px;">ร้านอู่ซ่อมรถ</h1>
    <p class="lead"style="color:azure;font-size:30px;background-color:black;">เพิ่มประสิทธิภาพ ลดความผิดพลาด ก้าวหน้าอย่างมั่นใจไปกับเรา</p>
  </div> -->
<!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://cdn.pixabay.com/photo/2014/06/04/16/36/man-362150_960_720.jpg');
  height: 620px;
"
>
<div style="background-color: rgba(0, 0, 0, 0.6);height: 200px;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">ร้านอู่ซ่อมรถ</h1>
      <h4 class="mb-3">ถ้าคุณอยู่ในพื้นที่ เกิดรถยนต์เสียกลางทาง ขับไม่ได้ และไม่รู้ว่าอู่ซ่อมรถแถวนั้นอยู่ที่ไหน เรียกใช้บริการเรา</h4>
      <a class="btn btn-outline-light btn-lg" href="link" role="button"
      >สมัครสมาชิก</a
      >
    </div>
  </div>
</div>
</div>
<!-- Background image -->

  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://getbootstrap.com/">Bootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

  

    
 